
div.blockinfo div[data-v-26526d24] {
  display: none;
  position: absolute;
  top: 0;
  margin-top: calc(var(--spacing-4) * -1);
	margin-left: var(--spacing-2);
  font-size: var(--text-xs);
  height: calc(var(--toolbar-size) - 8px);
  padding: 0 var(--spacing-2) 0 var(--spacing-1);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-xl);
  font-weight: var(--font-thin);
  align-items: center;
  z-index: var(--z-toolbar);
	color: white;
	background-color: var(--color-blue-600);
svg[data-v-26526d24] {
    display: block;
    height: var(--text-md);
		fill: #c4dff9
}
}

div.pwquote[data-v-90325663] {
div.quote[data-v-90325663],
	div.author[data-v-90325663] {
&[data-align="left"][data-v-90325663] {
			text-align: left;
}
&[data-align="center"][data-v-90325663] {
			text-align: center;
}
&[data-align="right"][data-v-90325663] {
			text-align: right;
}
}
div.quote[data-v-90325663] {
		font-size: var(--text-3xl);
		line-height: var(--text-line-height);
		color: var(--pw-color-quote, inherit);
}
div.author[data-v-90325663] {
		margin: var(--spacing-2) 0;
		font-style: italic;
		color: var(--pw-color-cite, inherit);
}
}
